/* Generic */
body {
    padding: 0;
    margin: 0;
}
ol, ul {
    list-style: none;
}
div, ul, li, a, section, nav,
h1, h2, h3, h4, h5, h6,
hr, input, textarea, footer, header {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #333;
}
input[type="submit"],
.button {
    border: none;
    border-radius: 2px;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    background-color: #444;
    display: inline-block;
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

/* STRUCTURE */
.content, .facets {
    padding: 20px;
    float: left;
}
.content {
    padding-top: 0;
    width: 900px;
}
.facets {
    left: 0;
    width: 300px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.wrapper {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/* HEADER - FOOTER */
header {
    background-color: #1d3431;
/*    background:-moz-linear-gradient(top,#fff 0,#f3f3f3 50%,#ededed 51%,#fff 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(50%,#f3f3f3),color-stop(51%,#ededed),color-stop(100%,#fff));
    background:-webkit-linear-gradient(top,#fff 0,#f3f3f3 50%,#ededed 51%,#fff 100%);
    background:-o-linear-gradient(top,#fff 0,#f3f3f3 50%,#ededed 51%,#fff 100%);
    background:-ms-linear-gradient(top,#fff 0,#f3f3f3 50%,#ededed 51%,#fff 100%);
    background:linear-gradient(top,#fff 0,#f3f3f3 50%,#ededed 51%,#fff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);*/
    border-bottom: 1px solid #000;
    height: 65px;
}
header h1 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 60px;
    color: #fff;
}
header small {
    font-size: 0.6em;
    text-transform: none;
}
header a {
    text-decoration: none;
    color: #fff;
}
header .okfn-ribbon {
    float: right;
    right: 0;
}
header .okfn-ribbon a {
    background-image: url("http://assets.okfn.org/web/images/okf-ribbon.png");
    background-position: center -27px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 73px;
    overflow: hidden;
    position: absolute;
    text-indent: -999px;
    width: 48px;
    z-index: 1;
}
footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #1d3431;
    text-align: center;
    clear: both;
    height: 400px;
}
footer * {
    color: #fff;
}

/* Results */
.results li {
    padding: 10px;
    cursor: pointer;
}
.results li + li {
    border-top: 1px solid #ccc;
}
.results li.selected-true {
    background-color: #f8f8f8;
}
.has-selected-false .detail {
    display: none;
}
.results {
    width: 100%;
    float: left;
}
.has-selected-true .results {
    width: 60%;
    padding-right: 20px;
}
.has-selected-true .detail {
    width: 40%;
    display: block;
    float: left;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
}
.detail th {
    text-transform: capitalize;
}
.detail table {
    font-size: 11px;
}

/* Facets */
.selected-filters {
    padding: 5px;
}
.selected-filters li {
    display: inline-block;
    border: 1px solid #999;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    margin-right: 5px;
    overflow: hidden;
    background-color: #508C84;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}
.selected-filters span {
    display: inline-block;
    padding: 0 5px;
}
.selected-filters .facet {
    background-color: #f8f8f8;
    color: #444;
}
.facets .facet {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}
.facets input {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 10px;
}
.selected-filters .field,
.facets h5 {
    border-radius: 4px 4px 0 0;
    background-image: url('../img/tag-20.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 30px;
    text-transform: capitalize;
    color: #fff;
}
.selected-filters li:hover .field {
    background-image: url('../img/remove-20.png');
}
.facets h5 {
    background-color: #508C84;
    color: #f8f8f8;
}
.facets h5,
.facets li a {
    padding: 0 10px 0 5px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.facets li a {
    display: block;
    cursor: pointer;
    font-size: 0.8em;
}
.facets li a:hover {
    background-color: #1d3431;
    color: #fff;
}
.facets li a.active-true {
    /*background-color: #F5E653;*/
    font-style: italic;
}

/* WELCOME */
.welcome a {
    color: #1F4849;
    text-decoration: none;
}
.welcome li {
    margin: 30px 0;
}
.welcome .steps h4 {
    display: table-cell;
    width: 200px;
    text-align: center;
    vertical-align: middle;
}
.welcome .steps p {
    display: table-cell;
}
.welcome .steps:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.welcome .steps span {
    background: none repeat scroll 0 0 #508C84;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
}