/* Generic */
body {
    padding: 0;
    margin: 0;
}
ol, ul {
    list-style: none;
}
div, ul, li, a, section, nav,
h1, h2, h3, h4, h5, h6,
hr, input, textarea, footer, header {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
input[type="submit"],
.button {
    border: none;
    border-radius: 2px;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    background-color: #444;
    display: inline-block;
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}


/* HEADER */
header {
    height: 100px;    
    text-align: center;
}
header a {
    line-height: 100px;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    border-bottom: 4px solid #EB5055;
}
header a small {
    font-size: 0.4em;
    text-transform: none;
    font-style: italic;
}

/* STRUCTURE */
.content, .facets {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 20px;
    min-height: 100%;
}
.facets:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.content {
    right: 0;
    left: 300px;
    padding-top: 0;
}
.facets {
    left: 0;
    width: 300px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
}

/* Results */
.results li {
    padding: 10px;
    cursor: pointer;
}
.results li + li {
    border-top: 1px solid #ccc;
}
.has-selected-false .detail {
    display: none;
}
.results {
    width: 100%;
    float: left;
}
.has-selected-true .results {
    width: 60%;
}
.has-selected-true .detail {
    width: 40%;
    display: block;
    float: left;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
}

/* Facets */
.selected-filters {
    padding: 5px;
}
.selected-filters li {
    display: inline-block;
    border: 1px solid #999;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    margin-right: 5px;
    overflow: hidden;
    background-color: #444;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}
.selected-filters span {
    display: inline-block;
    padding: 0 5px;
}
.selected-filters .facet {
    background-color: #f8f8f8;
    color: #444;
}
.facets .facet {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}
.facets input {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid #ddd;
    padding: 5px;
}
.selected-filters .field,
.facets h5 {
    border-radius: 4px 4px 0 0;
    background-image: url('../img/tag-20.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    text-indent: 30px;
}
.selected-filters li:hover .field {
    background-image: url('../img/remove-20.png');
}
.facets h5 {
    background-color: #444;
    color: #f8f8f8;
}
.facets h5,
.facets li a {
    padding: 0 10px 0 5px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.facets li a {
    display: block;
    cursor: pointer;
    font-size: 0.8em;
}
.facets li a:hover {
    background-color: #EB5055;
    color: #fff;
}
.facets li a.active-true {
    /*background-color: #F5E653;*/
    font-style: italic;
}