<!doctype html>
<html lang="en" ng-app="metametrik">
<head>
    <meta charset="utf-8">
    <title>MetaMetrik</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

    <div id="wrapper" ng-view>
    </div>
 {% raw %}
    <script type="text/ng-template" id="browse.html">
        <div class="facets">
            <input type="text" placeholder="filter facets" ng-model="facetSearch" ng-change="search()" />
            <ul>
                <li class="facet" ng-repeat="(name, facet) in results.facets" ng-show="facet.terms.length > 0">
                    <h5>{{ name }}</h5>
                    <ul>
                        <li ng-repeat="term in facet.terms">
                            <a ng-click="filter(name, term.term)" class="active-{{isActive(name, term.term)}}">
                                {{ term.term }} ({{ term.count }})
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content has-selected-{{ hasSelected() }}">
            <!--header>
                <a href="/">MetaMetri<em>K</em></a>
            </header-->
            <ng-include src="'activeFilters.html'"></ng-include>
            <ul class="results">
                <li ng-repeat="result in results.hits.hits">
                    <ng-include src="'row.html'"></ng-include>
                </li>
            </ul>
            <div class="detail">
                <div ng-include="'detail.html'">
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="row.html">
        <div class="result-row">
            <a ng-click="select(result._source)">
                <strong>{{ result._source.dependent }}</strong> in <em>{{ result._source.title }}</em>
            </a>
        </div>
    </script>
    <script type="text/ng-template" id="detail.html">
        <h4>{{ selectedItem.title }}</h4>
        <div class="body">
            <table>
                <tr><th>Dependent variable</th><td>{{ selectedItem.dependent }}</td></tr>
                <tr><th>Dependent variable definition</th><td>{{ selectedItem.dependent_definition }}</td></tr>
                <tr><th>Key independent variable</th><td>{{ selectedItem.key_independent }}</td></tr>
                <tr><th>Authors</th><td>{{ selectedItem.authors }}</td></tr>
            </table>
        </div>
    </script>
    <script type="text/ng-template" id="activeFilters.html">
        <ul class="selected-filters">
            <li ng-repeat="f in activeFilters">
                <a ng-click="filter(f.field(), f.term())">
                    <span class="field">{{ f.field() }}</span>
                    <span class="facet">{{ f.term() }}</span>
                </a>
            </li>
        </ul>
    </script>
{% endraw %}
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/elastic.js"></script>
    <script src="/static/js/elastic-angular-client.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
</body>
</html>