<!doctype html>
<html lang="en" ng-app="metametrik">
<head>
    <meta charset="utf-8">
    <title>MetaMetrik</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

    <div id="wrapper" ng-view>
    </div>
 {% raw %}
    <script type="text/ng-template" id="browse.html">
        <div class="facets">
            <input type="text" placeholder="Search a variable, author, model..." ng-model="facetSearch" ng-change="search()" />
            <ul>
                <li class="facet" ng-repeat="(name, facet) in facets" ng-show="facet.terms.length > 0">
                    <h5>{{ fieldDisplayName(name) }}</h5>
                    <ul>
                        <li ng-repeat="term in facet.terms">
                            <a ng-click="filter(name, term.term)" class="active-{{isActive(name, term.term)}}">
                                {{ term.term }} ({{ term.count }})
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content has-selected-{{ hasSelected() }}">
            <ng-include src="'activeFilters.html'"></ng-include>
            <div ng-show="browsing()">
                <div class="total">{{ results.length }} returned ({{ total }} found) </div>
                <div class="results">
                    <ul>
                        <li ng-repeat="result in results" class="selected-{{ isSelected(result._source) }}">
                            <ng-include src="'row.html'"></ng-include>
                        </li>
                    </ul>
                    <a class="button more" ng-click="more()" ng-show="hasMore()">More</a>
                </div>
                <div class="detail">
                    <div ng-include="'detail.html'"></div>
                </div>
            </div>
            <div ng-hide="browsing()">
                <div ng-include="'welcome.html'"></div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="row.html">
        <div class="result-row">
            <a ng-click="select(result._source)">
                <strong>{{ result._source.dependent }}</strong> in <em>{{ result._source.title }}</em>
            </a>
        </div>
    </script>
    <script type="text/ng-template" id="detail.html">
        <div class="body">
            <table>
                <tr ng-repeat="(field, value) in selectedItem"><th>{{ fieldDisplayName(field) }}</th><td>{{ formatValue(value) }}</td></tr>
            </table>
        </div>
    </script>
    <script type="text/ng-template" id="activeFilters.html">
        <ul class="selected-filters">
            <li ng-repeat="f in activeFilters">
                <a ng-click="filter(f.field(), f.term())">
                    <span class="field">{{ f.field() }}</span>
                    <span class="facet">{{ f.term() }}</span>
                </a>
            </li>
        </ul>
    </script>
    <script type="text/ng-template" id="welcome.html">
        <header>
            <a href="/">MetaMetri<em>K</em></a>
        </header>
        <div>Lorem ipsum and select a filter.</div>
    </script>
{% endraw %}
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/elastic.js"></script>
    <script src="/static/js/elastic-angular-client.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
</body>
</html>